body, html {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    background-color: #e8f5e1;
    color: #454743;
    text-align: center;
    /*background-image: url("bg1.png"); */
}
